.page-space {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: var(--base-min-width);
  height: 100%;
  &__description {
    background: rgba(62, 204, 181, 1);
    min-height: 242px;
    height: 50%;
  }
  &__images {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
}

.space-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.space-header {
  font-family: var(--font-family-header-pages), serif;
  font-size: var(--font-size-header-pages);
  margin: 65px 0 20px 0;
  &__header {
    font-weight: 600;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
  }
}

.space-text {
  text-align: center;
  padding-bottom: 10px;
  &__descr {
    font-family: NavMenuFonts;
    font-size: 15px;
    font-weight: 100;
    line-height: 1.7em;
    color: #fff;
  }
}

.space-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  &__content {
    border: 1 px solid red;
    width: 50%;
  }
}

.images-content {
  width: 100%;
  min-height: 350px;
}
.bgimg {
  &__img1 {
    background-image: url(./../../../images/d1c5cd_0.jpg);
    background-size: cover;
    background-position: center center;
  }
  &__img2 {
    background-image: url(./../../../images/d1c5cd_1.jpg);
    background-size: cover;
    background-position: center center;
  }
  &__img3 {
    background-image: url(./../../../images/d1c5cd_2.jpg);
    background-size: cover;
    background-position: center center;
  }
  &__img4 {
    background-image: url(./../../../images/d1c5cd_3.jpg);
    background-size: cover;
    background-position: center center;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
