.page-space {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: var(--base-min-width);
  height: 100%;
  &__description {
    background: rgba(62, 204, 181, 1);
    min-height: 242px;
    height: 50%;
  }
  &__images {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
}

.space-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.space-header {
  font-family: var(--font-family-header-pages), serif;
  font-size: var(--font-size-header-pages);
  margin: 65px 0 20px 0;
  &__header {
    font-weight: 600;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
  }
}

.space-text {
  text-align: center;
  padding-bottom: 10px;
  &__descr {
    font-family: NavMenuFonts;
    font-size: 15px;
    font-weight: 100;
    line-height: 1.7em;
    color: #fff;
  }
}

.space-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  &__content {
    border: 1 px solid red;
    width: 50%;
  }
}

.images-content {
  position: relative;
  min-width: 525px;
  min-height: 395px;
  position: relative;
  &__back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 48px;
    min-height: 395px;
    width: 100%;
    visibility: hidden;
  }
}

.content-back {
  &__text {
    transform: translate(0%, -50%);
    margin-bottom: 80px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &_like {
      padding-left: 50px;
      padding-bottom: 25px;
    }
  }
}

.back-text {
  color: #fff;
  &__header {
    font-family: var(--font-family-header-pages);
    font-size: 38px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.bgimg {
  &__img1 {
    background-image: url(./../../../images/d1c5cd_0.jpg);
    background-size: auto 720px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  &__img2 {
    background-image: url(./../../../images/d1c5cd_1.jpg);
    background-size: auto 720px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  &__img3 {
    background-image: url(./../../../images/d1c5cd_2.jpg);
    background-size: auto 720px;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  &__img4 {
    background-image: url(./../../../images/d1c5cd_3.jpg);
    background-size: auto 720px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
}

.img-jpg {
  &:hover {
    opacity: 1;
  }
  &:hover .images-content {
    &__back {
      visibility: visible;
      background: rgba(33, 33, 33, 0.8);
      color: #fff;
    }
  }
}
