.page-contact {
  background-image: url(./../../../images/7360_5068_s_4_2.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-width: var(--base-min-width);

  &__content {
    margin: 100px 0 23px;
    color: #fff;
    text-align: center;
  }
  &__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.page-contact-back {
  height: 536px;
  width: 100%;
  background: rgba(33, 33, 33, 0.3);
}

.contact-content {
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 36px;
  &__h1 {
    font-family: var(--font-family-header-pages);
    letter-spacing: 0.06em;
    font-weight: 600;
    font-size: var(--font-size-header-pages);
    text-transform: uppercase;
  }
  &__descr {
    font-size: 16px;
    font-family: "NavMenuFonts";
    letter-spacing: 0.05em;
    line-height: 1.7em;
  }
  &__form {
    color: white;
    text-align: center;
  }
}

.google-maps {
  height: 435px;
  width: 100%;
  background-image: url(./../../../images/googlemaps.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
