.page-about {
  min-height: 817px;
  height: 100%;
  min-width: var(--base-min-width);
  width: 100vw;
  &__background {
    width: 100%;
    height: 100%;
    background-image: url(./../../../images/1e3643_2_s_4_2.jpg);
    background-color: rgba(33, 33, 33, 1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0.9;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.about-content {
  margin: 123px auto;
  width: 614px;
  height: auto;
  min-height: 570px;

  &__style {
    border: 0px solid rgba(33, 33, 33, 1);
    background-color: rgba(255, 255, 255, 0.99);
    border-radius: 0;
  }
}

.about-description {
  margin: 99px 0px 51px 0px;
  &__header {
    font-family: var(--font-family-header-pages), serif;
    line-height: 1em;
    text-align: center;
  }
  &__content {
    margin: 0 auto 10px;
    width: 468px;
  }
  &__text {
    font-family: NavMenuFonts;
    font-size: 15px;
    line-height: 1.5em;
    text-align: center;
    color: #000;
  }
}

.about-header {
  font-size: var(--font-size-header-pages);
  line-height: 1.5em;
  &__text {
    letter-spacing: 0.06em;
    color: #000;
  }
}
