:root {
  --size-footer-content: 80px;
}

* {
  box-sizing: border-box;
}

html {
  color: #111111;
  font-size: 10px;
  font-family: roboto, NavMenuFonts, playfairdisplay;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  font-size: 1rem;
}

.text-bold {
  font-weight: 800;
}
.text-regular {
  font-weight: 500;
}

.page-main {
  display: flex;
  justify-content: center;
}

.no-padding {
  padding: 0 !important;
}

.body-page {
  min-width: 100vw;
  min-height: calc(100vh - 120px);
  margin: 0 auto;
}

.content-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 0 1rem;
  max-width: calc(900px + 2rem);
  margin: 0 auto;
}

.page-content {
  min-width: 100vw;
  margin: 0 auto;
  min-height: calc(100vh - calc(var(--size-footer-content) + 80px));
}
