@import "./../../../sass/mixins.scss";
.page-footer {
  background: rgba(0, 0, 0, 0.9);
  &__content {
    height: var(--size-footer-content);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-nav {
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  font-family: NavMenuFonts;
  font-weight: 200;
  font-size: 14px;
  color: #bab8b8;
  letter-spacing: 0.1em;
  &__link {
    text-decoration: none;
    font-family: NavMenuFonts;
    color: #bab8b8;
  }
}

.footer-logo {
  position: relative;
  background-size: cover;
  height: 26px;
  width: 26px;
  margin-right: 15px;
  display: block;
  &__link {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    &_fb {
      @include social-logo-size;
      // background-image: url("./../../../images/facebook_logo.webp");
    }
    &_twit {
      @include social-logo-size;
      // background-image: url("./../../../images/twitter_logo.webp");
    }
    &_insta {
      @include social-logo-size;
      // background-image: url("./../../../images/instagram_logo.webp");
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}
