.page-community {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 1;
  background: #fafafa;
  min-width: var(--base-min-width);
  height: 100%;
  &__description {
    height: 50%;
  }
  &__slides {
    min-height: 50%;
    height: 100%;
  }
}

.community-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.community-header {
  font-family: var(--font-family-header-pages), serif;
  font-size: var(--font-size-header-pages);
  margin: 99px 0 47px 0;
  &__header {
    font-weight: 600;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.community-text {
  text-align: center;
  padding-bottom: 10px;
  &__descr {
    font-family: NavMenuFonts;
    font-size: 15px;
    font-weight: 100;
    line-height: 1.7em;
    color: #000;
  }
}
