.page-header {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  min-width: var(--base-min-width);

  &__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    height: 73px;
    padding-bottom: 5px;
  }
}

.logo {
  padding-left: 0px;
  padding-bottom: 15px;

  min-width: 224px;
  & > h1 {
    font-family: playfairdisplay;
    font-size: 28px;
    color: #fff;
  }
}
