.page-header {
  background: rgba(0, 0, 0, 1);
  min-width: var(--base-min-width);
  max-width: 100vw;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  &__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    height: 73px;
    padding-bottom: 5px;
  }
}

.logo {
  position: relative;
  padding-left: 0px;
  padding-bottom: 15px;
  min-width: 224px;
  display: flex;
  justify-content: flex-start;

  & > h1 {
    font-family: var(--font-family-header-pages), serif;
    font-size: 28px;
    color: #fff;
    letter-spacing: 0.05em;
  }
  &__link {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    &::hover {
      cursor: pointer;
    }
  }
}

.logo-point {
  font-size: var(--font-family-header-pages);
  font-size: 33px;
  &__text {
    color: #3eccb5;
  }
}
