.page-home {
  min-height: 1048px;
  width: 100%;
  position: relative;
  background-image: url(./../../../images/s_4_2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 1;
  min-width: var(--base-min-width);
}
