.home-page {
  background-image: url("./../../../images/s_4_2.webp");

  min-height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  overflow: hidden;
}
