.page-nav {
  min-width: 686px;
  color: white; }

.global-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 15px 15px 15px 100px; }
  .global-nav > a {
    text-decoration: none;
    font-family: NavMenuFonts;
    font-size: 16px;
    line-height: 50px;
    color: #fff; }

.page-header {
  background: rgba(0, 0, 0, 0.8);
  position: relative; }
  .page-header__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    height: 73px;
    padding-bottom: 5px; }

.logo {
  padding-left: 0px;
  padding-bottom: 15px;
  min-width: 224px; }
  .logo > h1 {
    font-family: playfairdisplay;
    font-size: 28px;
    color: #fff; }

.page-footer {
  background: rgba(0, 0, 0, 0.9); }
  .page-footer__content {
    height: var(--size-footer-content);
    display: flex;
    justify-content: space-between;
    align-items: center; }

.footer-nav {
  color: white;
  display: flex;
  justify-content: space-between; }

.footer-copyright {
  font-family: NavMenuFonts;
  font-weight: 200;
  font-size: 14px;
  color: #bab8b8;
  letter-spacing: 0.1em; }
  .footer-copyright__link {
    text-decoration: none;
    font-family: NavMenuFonts;
    color: #bab8b8; }

.footer-logo {
  position: relative;
  background-size: cover;
  height: 26px;
  width: 26px;
  margin-right: 15px;
  display: block; }
  .footer-logo__link {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%; }
    .footer-logo__link_fb {
      width: 100%;
      height: 100%;
      background-size: cover; }
    .footer-logo__link_twit {
      width: 100%;
      height: 100%;
      background-size: cover; }
    .footer-logo__link_insta {
      width: 100%;
      height: 100%;
      background-size: cover; }
    .footer-logo__link:last-child {
      margin-right: 0px; }

.home-page {
  height: 140px; }

.page-contact {
  background: gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 536px;
  min-width: 100vh; }
  .page-contact__content {
    margin: 100px 0 23px;
    color: #fff; }
  .page-contact__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.contact-content {
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 36px; }
  .contact-content__h1 {
    font-family: playfairdisplay;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 46px;
    text-transform: uppercase; }
  .contact-content__descr {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 200;
    letter-spacing: 0.05em;
    line-height: 1.7em; }

.page-membership {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 544px;
  min-width: 100vw; }
  .page-membership__content {
    margin: 100px 0 23px;
    color: #000; }
  .page-membership__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.membership-content {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center; }
  .membership-content__container {
    min-width: 980px; }
  .membership-content__h1 {
    font-family: playfairdisplay;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 46px;
    text-transform: uppercase; }
  .membership-content__p {
    font-family: NavMenuFonts;
    font-size: 15px;
    text-align: center;
    margin: 0 0 36px; }
  .membership-content__descr {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex: none;
    width: calc(33.33% - 10px);
    margin-top: 14px; }
  .membership-content__text {
    font-size: 15px;
    font-family: NavMenuFonts;
    font-weight: 200;
    padding-left: 15px; }
  .membership-content__logo {
    width: 56px; }
    .membership-content__logo > svg {
      width: 100%;
      display: block; }

.second-membership {
  margin-top: 60px; }
  .second-membership__logo {
    width: 56px;
    transform: translate(30%, -30%); }
    .second-membership__logo > svg {
      width: 60%;
      display: block;
      padding-top: 14px; }

:root {
  --size-footer-content: 80px; }

* {
  box-sizing: border-box; }

html {
  color: #111111;
  font-size: 10px;
  font-family: roboto, NavMenuFonts, playfairdisplay; }

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

input,
button {
  font-size: 1rem; }

.text-bold {
  font-weight: 800; }

.text-regular {
  font-weight: 500; }

.page-main {
  display: flex;
  justify-content: center; }

.no-padding {
  padding: 0 !important; }

.body-page {
  min-width: 100vw;
  min-height: calc(100vh - 120px);
  margin: 0 auto; }

.content-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 0 1rem;
  max-width: calc(900px + 2rem);
  margin: 0 auto; }

.page-content {
  min-width: 100vw;
  margin: 0 auto;
  min-height: calc(100vh - calc(var(--size-footer-content) + 80px)); }

@font-face {
  font-family: roboto;
  src: url(fonts/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: NavMenuFonts;
  src: url(fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2) format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: playfairdisplay;
  src: url(fonts/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgEM86xQ.woff2) format("woff2");
  font-weight: 600;
  font-style: normal; }


/*# sourceMappingURL=main.css.map*/