.page-nav {
  min-width: 686px;
  color: white; }

.global-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 15px 15px 15px 100px; }
  .global-nav > a {
    text-decoration: none;
    font-family: NavMenuFonts;
    font-size: 16px;
    line-height: 50px;
    color: #fff; }
    .global-nav > a.act {
      color: #3eccb5;
      transition: color 0.4s ease 0s; }
    .global-nav > a:hover {
      color: #3eccb5;
      transition: color 0.4s ease 0s;
      cursor: pointer; }

.page-header {
  background: black;
  min-width: var(--base-min-width);
  max-width: 100vw;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1; }
  .page-header__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    height: 73px;
    padding-bottom: 5px; }

.logo {
  position: relative;
  padding-left: 0px;
  padding-bottom: 15px;
  min-width: 224px;
  display: flex;
  justify-content: flex-start; }
  .logo > h1 {
    font-family: var(--font-family-header-pages), serif;
    font-size: 28px;
    color: #fff;
    letter-spacing: 0.05em; }
  .logo__link {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%; }
    .logo__link::hover {
      cursor: pointer; }

.logo-point {
  font-size: var(--font-family-header-pages);
  font-size: 33px; }
  .logo-point__text {
    color: #3eccb5; }

.page-home {
  min-height: 1048px;
  height: 50vh;
  min-width: var(--base-min-width);
  width: 100vw; }
  .page-home__background {
    width: 100%;
    height: 100%;
    background-image: url(images/1e3643_s_4_2.jpg);
    background-color: #212121;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0.9; }
  .page-home__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }

.home-content {
  position: relative; }
  .home-content__header {
    margin: 375px 0 27px 0; }
  .home-content__second-header {
    margin-bottom: 32px; }

.header-description {
  font-family: var(--font-family-header-pages);
  font-size: 119px;
  font-weight: 900;
  line-height: 1em;
  text-align: center; }
  .header-description__text {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.06em; }

.second-header-description {
  font-family: sans-serif;
  font-size: 19px;
  font-weight: 100;
  line-height: 1.4em;
  text-align: center; }
  .second-header-description__text {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.45em; }

.page-about {
  min-height: 817px;
  height: 100%;
  min-width: var(--base-min-width);
  width: 100vw; }
  .page-about__background {
    width: 100%;
    height: 100%;
    background-image: url(images/1e3643_2_s_4_2.jpg);
    background-color: #212121;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0.9; }
  .page-about__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }

.about-content {
  margin: 123px auto;
  width: 614px;
  height: auto;
  min-height: 570px; }
  .about-content__style {
    border: 0px solid #212121;
    background-color: rgba(255, 255, 255, 0.99);
    border-radius: 0; }

.about-description {
  margin: 99px 0px 51px 0px; }
  .about-description__header {
    font-family: var(--font-family-header-pages), serif;
    line-height: 1em;
    text-align: center; }
  .about-description__content {
    margin: 0 auto 10px;
    width: 468px; }
  .about-description__text {
    font-family: NavMenuFonts;
    font-size: 15px;
    line-height: 1.5em;
    text-align: center;
    color: #000; }

.about-header {
  font-size: var(--font-size-header-pages);
  line-height: 1.5em; }
  .about-header__text {
    letter-spacing: 0.06em;
    color: #000; }

.slick-list,
.slick-slider,
.slick-track {
  position: relative;
  display: block; }

.slick-loading .slick-slide,
.slick-loading .slick-track {
  visibility: hidden; }

.slick-slider {
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y; }

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: 0; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translate3d(0, 0, 0); }

.slick-track {
  top: 0;
  left: 0; }

.slick-track:after,
.slick-track:before {
  display: table;
  content: ""; }

.slick-track:after {
  clear: both; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir="rtl"] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-dots,
.slick-next,
.slick-prev {
  position: absolute;
  display: block;
  padding: 0; }

.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
  font-family: NavMenuFonts;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-loading .slick-list {
  background: gray center center no-repeat #fff; }

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 39px;
  height: 40px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0; }

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: 0;
  background: #fff;
  opacity: 0.5; }

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1; }

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0.25; }

.slick-next:before,
.slick-prev:before {
  font-size: 25px;
  line-height: 1;
  opacity: 0;
  color: black; }

.slick-prev {
  left: 4px;
  z-index: 1500; }

[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: "<"; }

.slick-next:before,
[dir="rtl"] .slick-prev:before {
  content: ">"; }

.slick-next {
  right: 10px;
  z-index: 1500; }

[dir="rtl"] .slick-next {
  right: auto;
  left: -25px; }

[dir="rtl"] .slick-next:before {
  content: ""; }

.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  bottom: -25px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0; }

.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: 0; }

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1; }

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "AAAAA";
  text-align: center;
  opacity: 0.25;
  color: #000; }

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #000; }

.slide-window__descr {
  padding: 0 9px 0 9px; }
  .slide-window__descr > img {
    display: block;
    width: 100%;
    height: 100%; }

.community-slides {
  margin-top: 75px;
  min-width: 100px; }

.page-community {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 1;
  background: #fafafa;
  min-width: var(--base-min-width);
  height: 100%; }
  .page-community__description {
    height: 50%; }
  .page-community__slides {
    min-height: 50%;
    height: 100%; }

.community-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.community-header {
  font-family: var(--font-family-header-pages), serif;
  font-size: var(--font-size-header-pages);
  margin: 99px 0 27px 0; }
  .community-header__header {
    font-weight: 600;
    letter-spacing: 0.06em;
    text-transform: uppercase; }

.community-text {
  text-align: center;
  padding-bottom: 10px; }
  .community-text__descr {
    font-family: NavMenuFonts;
    font-size: 15px;
    font-weight: 100;
    line-height: 1.7em;
    color: #000; }

.page-space {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: var(--base-min-width);
  height: 100%; }
  .page-space__description {
    background: #3eccb5;
    min-height: 242px;
    height: 50%; }
  .page-space__slides {
    min-height: 50%;
    height: 100%; }

.space-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.space-header {
  font-family: var(--font-family-header-pages), serif;
  font-size: var(--font-size-header-pages);
  margin: 65px 0 20px 0; }
  .space-header__header {
    font-weight: 600;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff; }

.space-text {
  text-align: center;
  padding-bottom: 10px; }
  .space-text__descr {
    font-family: NavMenuFonts;
    font-size: 15px;
    font-weight: 100;
    line-height: 1.7em;
    color: #fff; }

.page-contact {
  background: gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 536px;
  min-width: var(--base-min-width); }
  .page-contact__content {
    margin: 100px 0 23px;
    color: #fff; }
  .page-contact__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.contact-content {
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 36px; }
  .contact-content__h1 {
    font-family: var(--font-family-header-pages);
    letter-spacing: 0.06em;
    font-weight: 600;
    font-size: var(--font-size-header-pages);
    text-transform: uppercase; }
  .contact-content__descr {
    font-size: 16px;
    font-family: "NavMenuFonts";
    letter-spacing: 0.05em;
    line-height: 1.7em; }

.page-membership {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 544px;
  min-width: var(--base-min-width); }
  .page-membership__content {
    margin: 100px 0 23px;
    color: #000; }
  .page-membership__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 980px; }

.membership-content {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center; }
  .membership-content__container {
    width: 100%; }
  .membership-content__h1 {
    font-family: var(--font-family-header-pages), serif;
    letter-spacing: 0.06em;
    font-size: var(--font-size-header-pages);
    text-transform: uppercase; }
  .membership-content__p {
    font-family: NavMenuFonts;
    font-size: 15px;
    text-align: center;
    margin: 0 0 36px; }
  .membership-content__descr {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex: none;
    width: calc(33.33% - 10px);
    margin-top: 14px; }
  .membership-content__text {
    font-size: 15px;
    font-family: NavMenuFonts;
    padding-left: 15px; }
  .membership-content__logo {
    width: 56px; }
    .membership-content__logo > svg {
      width: 100%;
      display: block; }

.second-membership {
  margin-top: 60px; }
  .second-membership__logo {
    width: 56px;
    transform: translate(30%, -30%); }
    .second-membership__logo > svg {
      width: 60%;
      display: block;
      padding-top: 14px; }

.page-footer {
  background: rgba(0, 0, 0, 0.9);
  min-width: var(--base-min-width); }
  .page-footer__content {
    height: var(--size-footer-content);
    display: flex;
    justify-content: space-between;
    align-items: center; }

.footer-nav {
  color: white;
  display: flex;
  justify-content: space-between; }

.footer-copyright {
  font-family: NavMenuFonts;
  font-weight: 200;
  font-size: 14px;
  color: var(--copyright-color);
  letter-spacing: 0.1em; }
  .footer-copyright__link {
    text-decoration: none;
    font-family: NavMenuFonts;
    color: var(--copyright-color); }

.footer-logo {
  position: relative;
  height: 26px;
  width: 26px;
  margin-right: 15px; }
  .footer-logo__link {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%; }
    .footer-logo__link_fb {
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover; }
    .footer-logo__link_twit {
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover; }
    .footer-logo__link_insta {
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover; }
    .footer-logo__link:last-child {
      margin-right: 0px; }

:root {
  --size-footer-content: 80px;
  --copyright-color: #bab8b8;
  --base-min-width: 1400px;
  --font-family-header-pages: playfair display;
  --font-size-header-pages: 46px; }

* {
  box-sizing: border-box; }

html {
  color: #111111;
  font-size: 10px;
  font-family: roboto, NavMenuFonts, playfairdisplay; }

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

input,
button {
  font-size: 1rem; }

.text-bold {
  font-weight: 800; }

.text-regular {
  font-weight: 500; }

.page-main {
  display: flex;
  justify-content: center; }

.no-padding {
  padding: 0 !important; }

.body-page {
  min-width: 100vw;
  min-height: calc(100vh - 120px);
  margin: 0 auto; }

.content-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 0 1rem;
  max-width: calc(980px + 2rem);
  margin: 0 auto; }

.page-content {
  min-width: 100vw;
  margin: 0 auto;
  min-height: calc(100vh - calc(var(--size-footer-content) + 80px)); }

@font-face {
  font-family: "roboto";
  src: url(fonts/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "NavMenuFonts";
  src: url(fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2) format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "playfair display";
  src: url(fonts/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgEM86xQ.woff2) format("woff2");
  font-weight: 600;
  font-style: normal; }


/*# sourceMappingURL=main.css.map*/