.page-nav {
  min-width: 686px;
  color: white;
}

.global-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 15px 15px 15px 100px;
  & > a {
    text-decoration: none;
    font-family: NavMenuFonts;
    font-size: 16px;
    line-height: 50px;
    color: #fff;
    &.act {
      color: #3eccb5;
      transition: color 0.4s ease 0s;
    }
    &:hover {
      color: #3eccb5;
      transition: color 0.4s ease 0s;
      cursor: pointer;
    }
  }
}
